* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #3B60E4;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    gap: 2rem;
}

h1, h2 {
    font-family: 'Press Start 2P', sans-serif;
    color: #D0E562;
    width: fit-content;
    text-align: center;
}

h1 {
    margin: 2rem auto 1rem auto;
    font-size: 3rem;
    letter-spacing: 0.75rem;
}

h2 {
    font-size: 1.5rem;
    margin: 1rem auto 4rem auto;
    line-height: 1.5;
}

input, button, label {
    display: block;
    font-family: 'Montserrat', sans-serif;
    width: fit-content;
}

label {
    color: #EFE9F4;
    font-size: 1.5rem;
    margin: 2rem auto 0.5rem auto;
}

input {
    margin: 0 auto 2.5rem auto;
    font-size: 1.2rem;
    padding: 0.5rem;
}

button {
    margin: 0 auto;
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
    background-color: #D0E562;
    color: #1D46D7;
    font-weight: bold;
    border-style: none;
    transition: 250ms;
}

button:hover {
    background-color: #D3E43B;
    padding: 0.75rem 1.25rem;
    font-size: 1.5rem;
    cursor: pointer;
}

footer {
    margin-top: auto;
    width: 100vw;
    padding: 0.5rem 1rem;
    background-color: #D0E562;
    color: #1D46D7;
}

#space {
    display: inline-block;
    margin: 0 0.2rem;
}

p a {
    float: right;
    color: #1D46D7;
}

#github {
    font-family: 'Montserrat', sans-serif;
}